<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tareas</title>
</head>
<body style="background-color: #683475">
    <div style="text-align: center; margin-top: 50px;">
        <h1 style="color: #ffffff">Bienvenido a la Gestión de Tareas</h1>
        <div style="margin: 20px 0;">
            <a href="/signup" style="padding: 10px; border: 1px solid #000; text-decoration: none; border-radius: 5px; background-color: #f0f0f0;">Registrarse</a>
            <span style="margin: 0 15px;">|</span>
            <a href="/login" style="padding: 10px; border: 1px solid #000; text-decoration: none; border-radius: 5px; background-color: #f0f0f0;">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>
